
<ion-content text-center>
      <div class="bgstack" text-center></div>

      <div class="center">
        <div class="circle-avatar center" text-center>
            <img src="" alt="">
        </div>
      </div>

      <div style="width: 80%;margin-top: 10%;" class="center">
        <div class="ion-padding" text-center>
          <h2 class="caption">Selamat Datang Di <b>Raga</b></h2>
          <ion-list>
            <ion-item mode="md">
              <ion-label position="floating">Email</ion-label>
              <ion-input type="text" [(ngModel)]="email"></ion-input>
            </ion-item> 

            <ion-item mode="md">
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" [(ngModel)]="password"></ion-input>
            </ion-item> 
            <div class="button">
              <ion-button color="primary" mode="ios" expand="block" (click)="login()">Log in</ion-button>
              <ion-button color="light" expand="block" mode="ios" routerLink="/register">Don't have an account ?</ion-button>
            </div>
            </ion-list>
        </div>
      </div>
</ion-content>
