<ion-tabs #tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed">
      <ion-icon name="albums"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="music">
        <ion-icon name="musical-note"></ion-icon>
        <ion-label>Musik</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="uploader">
      <ion-icon name="add"></ion-icon>
      <ion-label>Upload</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="task">
        <ion-icon color="primary" name="albums"></ion-icon>
        <ion-label>Agenda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>



</ion-tabs>
