<ion-header>
  <ion-toolbar>
    <ion-title>
      Olahraga
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card mode="ios">  
        <ion-img  src="assets/images/1.jpg"></ion-img> 
      <div class="ion-padding">   
          <ion-card-content mode="ios">
            <h1>Lorem Ipsum</h1>
            <p><b>3km Dari Tempatmu</b> | oleh Namauser</p>
            This is content, without any paragraph or header tags,
            within an ion-card-content element.
          </ion-card-content>
          <ion-item mode="ios">
              <ion-icon name="pin" slot="start"></ion-icon>
              <ion-label>Jln.Barito 6, Sekarbela, Mataram  </ion-label>
            </ion-item>
            <ion-item mode="ios">
                <ion-icon name="time" slot="start"></ion-icon>
                <ion-label>12 Jam lagi</ion-label>
            </ion-item>
            <ion-item mode="ios">
                <ion-icon name="people" slot="start"></ion-icon>
                <ion-label>6/9 Orang Bergabung</ion-label>
            </ion-item>
            <ion-button mode="ios" color="primary" expand="block">Lihat</ion-button>
      </div>
    </ion-card> 
    <ion-card mode="ios">  
        <ion-img  src="assets/images/1.jpg"></ion-img> 
      <div class="ion-padding">   
          <ion-card-content mode="ios">
            <h1>Lorem Ipsum</h1>
            <p><b>3km Dari Tempatmu</b> | oleh Namauser</p>
            This is content, without any paragraph or header tags,
            within an ion-card-content element.
          </ion-card-content>
          <ion-item mode="ios">
              <ion-icon name="pin" slot="start"></ion-icon>
              <ion-label>Jln.Barito 6, Sekarbela, Mataram  </ion-label>
            </ion-item>
            <ion-item mode="ios">
                <ion-icon name="time" slot="start"></ion-icon>
                <ion-label>12 Jam lagi</ion-label>
            </ion-item>
            <ion-item mode="ios">
                <ion-icon name="people" slot="start"></ion-icon>
                <ion-label>6/9 Orang Bergabung</ion-label>
            </ion-item>
            <ion-button mode="ios" color="primary" expand="block">Lihat</ion-button>
      </div>
    </ion-card> 
    <ion-card mode="ios">  
        <ion-img  src="assets/images/1.jpg"></ion-img> 
      <div class="ion-padding">   
          <ion-card-content mode="ios">
            <h1>Lorem Ipsum</h1>
            <p><b>3km Dari Tempatmu</b> | oleh Namauser</p>
            This is content, without any paragraph or header tags,
            within an ion-card-content element.
          </ion-card-content>
          <ion-item mode="ios">
              <ion-icon name="pin" slot="start"></ion-icon>
              <ion-label>Jln.Barito 6, Sekarbela, Mataram  </ion-label>
            </ion-item>
            <ion-item mode="ios">
                <ion-icon name="time" slot="start"></ion-icon>
                <ion-label>12 Jam lagi</ion-label>
            </ion-item>
            <ion-item mode="ios">
                <ion-icon name="people" slot="start"></ion-icon>
                <ion-label>6/9 Orang Bergabung</ion-label>
            </ion-item>
            <ion-button mode="ios" color="primary" expand="block">Lihat</ion-button>
      </div>
    </ion-card> 
    <ion-card mode="ios">  
        <ion-img  src="assets/images/1.jpg"></ion-img> 
      <div class="ion-padding">   
          <ion-card-content mode="ios">
            <h1>Lorem Ipsum</h1>
            <p><b>3km Dari Tempatmu</b> | oleh Namauser</p>
            This is content, without any paragraph or header tags,
            within an ion-card-content element.
          </ion-card-content>
          <ion-item mode="ios">
              <ion-icon name="pin" slot="start"></ion-icon>
              <ion-label>Jln.Barito 6, Sekarbela, Mataram  </ion-label>
            </ion-item>
            <ion-item mode="ios">
                <ion-icon name="time" slot="start"></ion-icon>
                <ion-label>12 Jam lagi</ion-label>
            </ion-item>
            <ion-item mode="ios">
                <ion-icon name="people" slot="start"></ion-icon>
                <ion-label>6/9 Orang Bergabung</ion-label>
            </ion-item>
            <ion-button mode="ios" color="primary" expand="block">Lihat</ion-button>
      </div>
    </ion-card>      
</ion-content>
