<ion-content>
     <div class="bg-gradient" text-center>
    <div class="register-form ion-padding">
      <h1>Register</h1>
      <form action="">
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input></ion-input>
          </ion-item> 

          <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input></ion-input>
          </ion-item> 

          <ion-item>
              <ion-label position="floating">Confirm Password</ion-label>
              <ion-input></ion-input>
          </ion-item> 

          <ion-button color="primary" >Sign up</ion-button>
      </form>
    </div>
  </div>
</ion-content>
